<section>
	This is test module page.
	
	<p>==================================================================</p>
	<p th:text="${message}"></p>
	<p>上传文件，使用multipart/form-data类型</p>
	<form action="/test/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="file">
		<button type="submit">上传</button>
	</form>
	<br>
	
	
	<h3>th:if,th:unless.</h3>
	<p th:if="${checked} == true">If true, this will display</p>
	<p th:unless="${checked} == false">If not false, this will display</p>
	<p th:if="${currentNumber}&lt;100">print if the currentNumber &lt;100</p>
	<p th:if="${thymeleafTitle} == null">name is null</p>
	<p>==================================================================</p>
	
	
</section>